@use "../abstracts/variables" as *;

body {
  transition: background-color 0.3s ease-in-out;

  html[data-theme="light"] & {
    background-color: $fontColor-white;

    * {
      color: $fontColor-black;
    }
  }

  html[data-theme="dark"] & {
    background-color: $fontColor-black;

    * {
      color: $fontColor-white;
    }
  }
}
