.utility {
  .utility-list {
    display: flex;
    gap: 3rem;
    flex-direction: row;
    align-items: center;
  }

  .search-form {
    display: flex;
    gap: 1rem;
    align-items: center;

    .form-select {
      width: 15rem;
      padding-inline: 1rem;
      outline: none;
      border: none;
      // color: #da4b4d;
      color: #fff;
      font-size: 1.6rem;
      font-weight: 400;
      background: url(../images/ico-downArrow.svg) calc(100% - 5px) center
        no-repeat;
      background-size: 2rem;
      -o-appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      html[data-theme="light"] & {
        color: #07111e;
        background: url(../images/ico-downArrow-black.svg) calc(100% - 5px)
          center no-repeat;
        background-size: 2rem;
      }
    }

    .filter-box {
      position: relative;
      width: 30rem;
      height: 3.5rem;
    }

    .form-input {
      width: 100%;
      height: 100%;
    }
  }
}
