.utility {
  .utility-list {
    display: flex;
    gap: 3rem;
    flex-direction: row;
    align-items: center;
  }

  .search-form {
    display: flex;
    gap: 1rem;
    align-items: center;

    .form-select {
      height: 3.5rem;

      &.select-year {
        width: 10rem;
      }

      &.select-type {
        width: 10rem;
      }
    }

    .filter-box {
      position: relative;
      width: 30rem;
      height: 3.5rem;
    }

    .form-input {
      width: 100%;
      height: 100%;
    }
  }
}
